.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button {
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
}