.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header {
    margin-bottom: 50px;
    max-width: 50%;
}